@import "./variables";

.main {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    padding: 0 8px 40px;
    overflow-y: auto;
    z-index: 9;
  }

  main {
    margin-left: 15%;
  }
}

@media (max-width: 767.98px) {
  .main {
    display: none;
  }
}
