@import "./variables";

.qrcode {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: 400px;
  text-align: center;
  color: $text-color-lighter;
  font-size: $font-size-large;

  img {
    margin: 0 auto 20px;
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 767.98px) {
  .main {
    display: none;
  }

  .qrcode {
    display: flex;
  }
}
